@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');
@font-face {
    font-family: "Nexa Bold";
    src: url('\assets\fonts\Nexa\Bold.otf');
}
@font-face {
    font-family: "Simplifica";
    src: url('\assets\fonts\Nexa\Simplifica.ttf');
}
@font-face {
    font-family: "Dense";
    src: url('\assets\fonts\Nexa\Dense.otf');
}

html{
    scroll-behavior: smooth;
}
* {
    box-sizing: border-box;
}
body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
}
.dddd{
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    text-align: justify;
}
header{
    margin: 0 auto;
    width: 100%;
    position: fixed;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
header section{
    text-align: center;
}
header section h1 a{
    text-decoration: none;
    color: #65b6eb;
    font-weight: bolder;
    text-align: center;
    font-family: monospace;
}
header nav{
    text-align: center;
}
nav li{
    display: inline;
    margin-left: 40px;
}
nav a {
    color: black;
    font-size: 18px;
    font-weight: 900;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
nav a:hover {
    font-weight: bold;
    color: #65b6eb;
}
main {
    padding: 70px 0px 0px 0px;
    overflow: auto;
}
#content {
    width: 100%;
    height: 80%;
}
.text{
    font-family: Dense;
    font-size: 30px;
    line-height: 0;
}
.flex-column {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 250px;
    border-radius: 10px;
}
.flex-row {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    text-align: center;
    border-radius: 10px;
}
.flex-row a{
    text-decoration: none;
    color: white;
}
.flex-row a:hover{
    font-weight: bold;
}
.box{
    flex-grow: 1;
    margin: 5px;
    border-radius: 10px;
}
#home{
    padding: 70px;
    background-color: #ebf4f1;
    height: 20%;
}
#about{
    padding: 100px;
    height: 20%;
    background-color: #65b6eb;
    color: white;
}
#works{
    text-align: justify;
    padding: 20px 100px;
    height: 20%;
}
#contact{
    text-align: justify;
    background-color: #65b6eb;
    color: white;
    height: 20%;
    padding: 20px 100px;
}
aside {
    padding: 20px 100px;
    height: 20%;
    top: 0;
}
footer {
    padding: 20px;
    color: white;
    background: #2f87ad;
    text-align: center;
    font-weight: bold;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
 }
 .dwnld{
    font-family: fantasy;
    background-color: #65b6eb;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-shadow: 3px 2px 1px grey;
 }
 .input{
     width: 100%;
     padding: 20px;
     border-radius: 10px;
     border: none;
     outline: none;
 }
.clr2{
    color: #65b6eb;
}
.border{
    padding: 20px;
    border-radius: 20px;
}
.tentang p{
    text-align: justify;
}
.container3{
    display: flex;
}
.box3{
    flex-grow: 1;
}
.box3 button{
    width: 100%;
    color: white;
    background-color: #2f87ad;
    border-radius: 10px;
    outline: none;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.box3 button:hover{
    font-weight: bold;
    cursor: pointer;
}
.box3 p button{
    padding: 5px;
    width: 50%;
}
.box3 p a{
    text-decoration: none;
    color: #2f87ad;
}
.box3 .card a img:hover{
    width: 98%;
}
table{
    width: 100%;
    text-align: justify;
}
table tr th{
    padding: 10px;
    text-align: right;
    width: 10%;
}

table tr td{
    text-align: left;
    padding: 10px;
    width: 90%;
}
.column{
    flex-direction: column;
}
.d{
    font-family: Simplifica;
}
.dd{
    font-size: 70px; font-weight: bolder;
}
.ddd{
    font-size: 40px; font-weight: 300;
}
@media screen and (max-width: 1000px){
    #about,
    #works,
    #content,
    aside,
    #contact,
    .flex-column{
        width: 100%;
        text-align: center;
        padding: 0;
    }
    nav li{
        margin-left: 0;
    }
    nav li ul a{
        font-size: 10px;
    }
    #home{
        padding: 0;
    }
    .dd{
        font-size: 30px;
    }
    .ddd{
        font-size: 25px;
    }
    .img{
        padding: 0;
        margin-top: 100px;
        width: 300px;
    }
    .container3{
        flex-direction: column;
        width: 100%;
    }
    #about, #contact, #works{
        padding: 10px;
        text-align: justify;
    }
    h1,h3,h4{
        text-align: center;
    }
    .border{
        padding: 10px;
    }
    table{
        text-align: justify;
    }
    .box3 p button{
        padding: 5px;
        width: 75%;
    }
    .geser{
        margin-left: 0px;
        margin-bottom: 10px;
    }
    .geser2{
        padding-right: 30px;
    }
    table tr th{
        width: 40%;
    }
    
    table tr td{
        width: 60%;
    }
}