@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');
@font-face {
    font-family: "Nexa Bold";
    src: url('\assets\fonts\Nexa\Bold.otf');
}
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}
header{
    z-index: 4;
    margin: 0 auto;
    padding-bottom: 10px;
    width: 100%;
    position: fixed;
    background-color: #ff5a00;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}
header section{
    height: 100%;
    width: 25%;
    float: left;
    text-align: center;
}
header section h1 a{
    text-decoration: none;
    color: #240899;
    font-weight: bolder;
    text-align: center;
    font-family: monospace;
}
header nav{
    padding: 14px 0px 0px 120px;
    height: 100%;
    width: 75%;
    float: left;
    text-align: center;
}
nav li{
    display: inline;
    margin-left: 40px;
}
nav a {
    color: white;
    font-size: 18px;
    font-weight: 900;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
nav a:hover {
    font-weight: bold;
}
main {
    padding: 50px 0px 0px 0px;
    overflow: auto;
}
#content {
    width: 100%;
    height: 80%;
}
.container1{
    float: right;
    text-align: justify;
    padding-right: 20px;
}
.text{
    font-family: Dense;
    font-size: 30px;
    line-height: 0;
    padding-left: 60px;
}
.flex-column {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 250px;
    margin: 0 auto;
    border-radius: 10px;
}
.flex-row {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    text-align: center;
    margin: 5px;
    border-radius: 10px;
}
.flex-row a{
    text-decoration: none;
    color: white;
}
.flex-row a:hover{
    font-weight: bold;
}
.box{
    flex-grow: 1;
    margin: 5px;
    border-radius: 10px;
}
#home{
    color: white;
    height: 20%;
    padding: 50px 20px 0px 20px;
}
#about{
    padding: 20px 100px;
    height: 20%;
    background-color: cadetblue;
    color: white;
}
#works{
    text-align: justify;
    padding: 20px 100px;
    height: 20%;
}
#contact{
    text-align: justify;
    background-color: #ff5a00;
    color: white;
    height: 20%;
    padding: 20px 100px;
}
aside {
    padding: 20px 100px;
    height: 20%;
    top: 0;
}
footer {
    padding: 20px;
    color: white;
    background: #ff5a00;
    text-align: center;
    font-weight: bold;
}
.bg{
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 2;
}
.pp{
    z-index: 3;
    position: relative;
}
.clear{
    clear: right;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
 }
 .dwnld{
    font-family: fantasy;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
 }
 .input{
     width: 100%;
     padding: 20px;
     border-radius: 10px;
     border: none;
     outline: none;
 }
.border{
    padding: 20px;
    border-radius: 20px;
}
.tentang p{
    text-align: justify;
}
.container3{
    display: flex;
}
.box3{
    flex-grow: 1;
}
.box3 a img{
    opacity: 0.8;
}
.box3 a img:hover{
    opacity: 1;
}
.box3 button{
    width: 100%;
    color: white;
    background-color: #240899;
    border-radius: 10px;
    outline: none;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.box3 button:hover{
    font-weight: bold;
    cursor: pointer;
}
.column{
    flex-direction: column;
}
@media screen and (max-width: 1000px){
    #content,
    aside,
    .flex-column{
        width: 100%;
        padding: 0;
    }
    #home{
        padding: 50px 10px 20px 10px;
        text-align: center;
    }
    .container1{
        text-align: center;
        padding-right: 20px;
    }
    .bg{
        background-position: right 42% top;
    }
    
    nav {
        padding: 5px;
        position: sticky;
        top: 0;
    }
    nav li{
        margin-left: 10px;
    }
}